configuration{
    modi: "run,window,combi";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-combi: " 所  All ";
    display-run: " 执  Run ";
    display-window: " 窗  Window";
    sidebar-mode: true;
}
